opencv-python
tqdm
pylint #==2.2.3
# astroid 2.2.0 seems to break everything in Pylint
#astroid==2.1.0
# isort above 4.3.4 introduces the "__init__.py not found" issue
#isort==4.3.4
black
pre-commit
flake8
coverage
bandit