.UploadTypeButton button {
    background-color: #fff;
    border: 1px solid #00c853;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    padding: 8px 24px;
}

.UploadTypeButton button img {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.UploadTypeButton button text {
    vertical-align: middle;
}

.UploadTypeButton button:hover {
    background-color: #00c853;
    color: #fff;
}

.UploadTypeButton button:hover img {
    filter: invert(100%);
}